---
layout: base.njk
title: Club Store
description: Get exclusive merch, membership, materials, and more!
googleAnalyticsId: { { site.googleAnalyticsId } }
---

<section class="wrapper style1">
  <div class="inner">
    <div class="store-area">
      <div class="store-header">
        <div class="store-header-text">
          <h2>Club Store</h2>
          <p>Get exclusive merch, membership, materials, and more!</p>
        </div>
        <button class="button primary" data-toggle="modal" data-target="#cartModal">Cart (0)</button>
      </div>
      <div class="store-aisle">
        <h4>Featured</h4>
        <div class="scrollable-container-x">
          <div class="store-row store-row-featured">
            <div class="scroll-edge-overlay"></div>
            <button class="store-item" data-toggle="modal" data-target="#itemModal">
              <img src="/images/store/featured_1.png">
              <p>
                <b>High Tide - Rave Festival</b>
                <br>
                Tickets starting at $--
              </p>
            </button>
            <button class="store-item" data-toggle="modal" data-target="#itemModal">
              <img src="/images/store/featured_2.png">
              <p>
                <b>Membership Cards</b>
                <br>
                $10
              </p>
            </button>
          </div>
        </div>
      </div>
      <div class="store-aisle">
        <div>
          <h4 class="mb-1">The Beach Vibes Collection</h4>
          <p class="mb-1">Catch the waves with our mascot -- Tide the Raccoon!</p>
        </div>
        <div class="scrollable-container-x">
          <div class="store-row">
            <div class="scroll-edge-overlay"></div>
            <button class="store-item" data-toggle="modal" data-target="#itemModal">
              <img src="/images/store/beach_1.png">
              <p>
                <b>San Diego Beach Tee</b>
                <br>
                $25
              </p>
            </button>
            <button class="store-item" data-toggle="modal" data-target="#itemModal">
              <img src="/images/store/beach_2.png">
              <p>
                <b>Tropical Drink Sticker</b>
                <br>
                $3
              </p>
            </button>
            <button class="store-item" data-toggle="modal" data-target="#itemModal">
              <img src="/images/store/beach_3.png">
              <p>
                <b>Tide Sticker</b>
                <br>
                $3
              </p>
            </button>
            <button class="store-item" data-toggle="modal" data-target="#itemModal">
              <img src="/images/store/beach_4.png">
              <p>
                <b>Ummm uhhhh</b>
                <br>
                $3
              </p>
            </button>
          </div>
        </div>
      </div>
      <div class="store-aisle">
        <div>
          <h4 class="mb-1">The High Tide Collection</h4>
          <p class="mb-1">Shop our exclusive collabs with popular brands like [???] and [???]!</p>
        </div>
        <div class="scrollable-container-x">
          <div class="store-row">
            <div class="scroll-edge-overlay"></div>
            <div class="store-item">
              <img src="/images/store/high_1.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
            <div class="store-item">
              <img src="/images/store/high_2.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
            <div class="store-item">
              <img src="/images/store/high_3.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
            <div class="store-item">
              <img src="/images/store/high_1.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
            <div class="store-item">
              <img src="/images/store/high_2.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
            <div class="store-item">
              <img src="/images/store/high_3.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="store-aisle">
        <div>
          <h4 class="mb-1">The Wolf Sanctuary Collection</h4>
          <p class="mb-1">Awoo! Proceeds go toward supporting the California Wolf Center, to help save endangered wolf populations in the U.S.</p>
        </div>
        <div class="scrollable-container-x">
          <div class="store-row">
            <div class="scroll-edge-overlay"></div>
            <div class="store-item">
              <img src="/images/store/wolf_1.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
            <div class="store-item">
              <img src="/images/store/wolf_1.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
            <div class="store-item">
              <img src="/images/store/wolf_1.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
            <div class="store-item">
              <img src="/images/store/wolf_1.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
            <div class="store-item">
              <img src="/images/store/wolf_1.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
            <div class="store-item">
              <img src="/images/store/wolf_1.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="store-aisle">
        <div>
          <h4 class="mb-1">The Fursuit Workshop Collection</h4>
          <p class="mb-1">Buy materials and learn to make your own fursuit at our workshops!</p>
        </div>
        <div class="scrollable-container-x">
          <div class="store-row">
            <div class="scroll-edge-overlay"></div>
            <div class="store-item">
              <img src="/images/store/fur_1.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
            <div class="store-item">
              <img src="/images/store/fur_2.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
            <div class="store-item">
              <img src="/images/store/fur_3.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
            <div class="store-item">
              <img src="/images/store/fur_4.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
            <div class="store-item">
              <img src="/images/store/fur_5.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
            <div class="store-item">
              <img src="/images/store/fur_6.png">
              <p>
                <b>Coming soon...</b>
                <br>
                $--
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
