/* MODALS */
.modal p {
    margin-bottom: 0;
}
/* Override default modal max-width restrictions, because text sizes up independently */
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
    }
}
@media (min-width: 1024px) {
    .modal-dialog {
        max-width: 1000px;
    }
}
/* Expand footer when small */
@media (max-width: 600px) {
    .modal-footer {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .modal-footer div,
    .modal-footer a,
    .modal-footer button {
        width: 100%;
    }
}