/* MODALS */
.modal p {
    margin-bottom: 0;
}
@media (min-width: 1024px) {
    .modal-dialog {
        max-width: 800px;
    }
}

/* Expand footer when small */
@media (max-width: 600px) {
    .modal-footer {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .modal-footer div,
    .modal-footer a,
    .modal-footer button {
        width: 100%;
    }
}