.store-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
}

.store-aisle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.store-row {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.store-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.store-item > img {
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 16px;
    object-fit: cover;
}

.store-row-featured img {
    width: 400px;
    aspect-ratio: 2/1;
}

@media (max-width: 768px) {
    .store-item > img {
        width: 100px;
    }

    .store-row-featured {
        flex-direction: column;
    }

    .store-row-featured img {
        width: 100%;
    }
}