/* The store containing aisles */
.store-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    align-self: stretch;
}

/* Store header */
.store-header {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 16px;
}
.store-header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.scrollable-container {
    overflow-x: scroll;
    width: 100%;
}

/* Aisles containing rows */
.store-aisle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

/* Rows of items */
.store-row {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

/* Items */
.store-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Item images */
.store-item > img {
    width: 250px;
    aspect-ratio: 1/1;
    border-radius: 16px;
    object-fit: cover;
}

.store-row-featured img {
    width: 500px;
    aspect-ratio: 2/1;
}

@media (max-width: 1024px) {
    .store-item > img {
        width: 200px;
    }

    .store-row-featured img {
        width: 400px;
    }
}

@media (max-width: 600px) {
    .store-item > img {
        width: 150px;
    }

    .store-row-featured {
        flex-direction: column;
    }

    .store-row-featured img {
        width: 100%;
    }
}