---
layout: base.njk
title: { { homepage.title } }
description: { { homepage.description } }
googleAnalyticsId: { { site.googleAnalyticsId } }
---

{# Import macros #} {% from "components/spotlight.njk" import spotlight %}

<!-- Landing Splash -->
{% set bannerData = homepage.banner %} {% include "components/page-banner.njk" %}

<!-- Spotlights -->
{% for spotlight_data in homepage.spotlights %} {{ spotlight(spotlight_data) }} {% endfor %}

<!-- Photo Gallery -->
{% set galleryData = homepage.gallery %} {% set galleryData = galleryData | merge({ photos:
gallery.photos }) %} {% include "components/photo-gallery.njk" %}

<!-- Perks -->
{% set perksData = homepage.perks %} {% set perksData = perksData | merge({ headers: perks.headers,
data: perks.data }) %} {% include "components/data-table.njk" %}
