---
layout: base.njk
title: Our Team
description: Meet the team behind Triton Tails - Furries at UC San Diego.
googleAnalyticsId: G-FL8NYH375F
---

<!-- Wrapper -->
<div class="container-fluid mt-4 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">

            <!-- Board Structure Image -->
            <section class="text-center mb-5 fade-in">
                <div class="board-structure mb-4">
                    <img src="/assets/images/board-structure.png" alt="Board Structure" class="img-fluid w-100" style="max-height: 80vh; object-fit: contain;">
                </div>
                <div class="mt-4">
                    <h2>Want to join our team?</h2>
                    <p>Please apply on our Discord, in the #join-board channel!</p>
                </div>
            </section>

        </div>
    </div>
</div>